{% extends 'base.html' %}
{% block content %}
    <form action="{% url 'edu:new_content' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="content"/>
        <input type = "file" accept="image/*" name="up_photo"/><br/>
        <input type="submit" value="저장">
        <p>
            <label for = "age_input">나이:</label>
            <input type = "number" name = "age" id = "age_input" />
        </p>
        <p> 
            <label for = "pwd_input">비밀번호:</label>
            <input type = "password" name = "pwd" id = "pwd_input"/>
        </p>
        <p>
            <label for = "phone_input">전화번호:</label>
            <input type ="tel" name = "phone" id = "phone_input" placeholder = "01011112222 형식으로 입력"/>
        </p>
        <p>
            <label for ="search_input">검색:</label>
            <input type = "search" name = "query" id = "search_input" placeholder = "검색어를 입력하세요."/>
        </p>
        <p>
            <label for = "color_input">색선택:</label>
            <input type = "color" name = "color" id = "color_input"/>
        </p>
        <p>
            <label for = "rng_input">범위선택:</label>
            <input type = "range" name = "rng" id = "rng_input"/>
        </p>
        <p>
            <label for = "birth_input">생일선택:</label>
            <input type = "date" name = "birth" id = "birth_input"/>
        </p>
        <p>
            <input type = "checkbox">아침을 드셨나요?</input>
            <input type = "checkbox">점심을 드셨나요?</input>
            <input type = "checkbox"checked>저녁을 드셨나요?</input>
        </p>
        <p>
            <input type = "radio" name = "radio1" checked/>한식
            <input type = "radio" name = "radio1"/>양식
            <input type = "radio" name = "radio1"/>중식
            <input type = "radio" name = "radio1"/>일식
        </p>
        <p>
            <input type = "radio" name = "radio2" checked/>매운 것
            <input type = "radio" name = "radio2"/>안 매운 것
        </p>
        <p>
            <input type = "radio" name = "radio3" checked/>뜨거운 것
            <input type = "radio" name = "radio3"/>차가운 것
        </p>
        <P>
            <textarea cols = "50" rows = "10"></textarea>
        </p>
        <p>
            <select>
                <option value = "1">피자</option>
                <option value = "2">치킨</option>
                <option value = "3">햄버거</option>
                <option value = "4">짜장면</option>
            </select>
        </p>
    </form>
{% endblock content %}